.cont{
  background-color: rgb(250, 245, 239);
  padding: 5rem;
}
 
  h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  

  .cart-icon {
    margin-top:1.8rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2A900;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .cart-icon:hover {
    transform: scale(1.2);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  }

  .cart-text{
    font-size: 30px;
    font-weight: 500;
  }